#app {
    /* Se a tela do usuário for muito grande, que fique tudo centralizado */
    max-width: 1200px; 
    margin: 0 auto;
    padding: 60px 30px;
    /* Tudo que esteja dentro do app (aside e main) fique tudo ao lado do outro, ou seja uma linha */
    display: flex;
    flex-direction: row;
    /* aside e main sempre alinhados ao topo */
    align-items: flex-start;
}